<% provide(:title, t("help.title")) %>
<h1><%= t "help.title" %></h1>
<p>
  <%= t("help.description_html",
    tutorial_help_link: link_to(t("help.tutorial_help_page"),
    "https://github.com/learnenough/rails_tutorial_sample_app_7th_ed/blob/main/HELP.md"),
    tutorial_book: link_to(t("help.tutorial_book"),
    "https://www.railstutorial.org/book")) %>
</p>
